<h2>
  <%= @playlist.name %>
</h2>
<%=link_to "voir dans spotify", @playlist.spotify_link, target: "blank"%>
<ul>
  <% @playlist.songs.each do |song| %>
    <li>
      <%= song.id %>
      <%= song.spotify_url %>
      <%= song.title %>
      <%= song.artist.genres.first.name unless song.artist.genres.empty? %>
      <%= link_to "voir dans spotify", song.spotify_link, target: "blank" %>
    </li>
  <% end %>
</ul>
